:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  margin: 0;
}
.login-form {
  max-width: 300px !important;
}
.login-form-forgot {
  float: right !important;
}
.ant-col-rtl .login-form-forgot {
  float: left !important;
}
 .login-form-button, .ant-tree-title {
  width: 100% !important;
}
:where(.css-dev-only-do-not-override-jyyyi3).ant-image-preview-root .ant-image-preview-mask, :where(.css-dev-only-do-not-override-jyyyi3).ant-modal-root .ant-modal-mask,
:where(.css-dev-only-do-not-override-jyyyi3).ant-drawer .ant-drawer-mask{
  background-color: rgb(0 0 0 / 70%);
  z-index: 10000 !important;
}
:where(.css-dev-only-do-not-override-jyyyi3).ant-image-preview-root .ant-image-preview-wrap, :where(.css-dev-only-do-not-override-jyyyi3).ant-modal-root .ant-modal-wrap{
  z-index: 10010 !important;
}
:where(.css-dev-only-do-not-override-jyyyi3).ant-image-preview-operations-wrapper,
:where(.css-dev-only-do-not-override-jyyyi3).ant-drawer .ant-drawer-content-wrapper{
  z-index: 10100 !important;
}
:where(.css-dev-only-do-not-override-jyyyi3).ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper,
:where(.css-5attbm).ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper{
  display: flex !important;
  align-items: center !important;
  justify-content: flex-start !important;
}
@media (max-width: 767px) {
  .ant-pro-form-login-page-container{
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .ant-pro-form-login-page-container{
    padding-block-start: 40px;
  }
}

.ant-message{
  z-index: 100000 !important;
}
:where(.css-5attbm).ant-tree.ant-tree-directory .ant-tree-treenode-selected:hover::before, :where(.css-5attbm).ant-tree.ant-tree-directory .ant-tree-treenode-selected::before
{
  background: transparent !important;
}
:where(.css-5attbm).ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected,
:where(.css-5attbm).ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-treenode-selected
{
  color: black !important;
}
.ant-pro-form-login-page-header{
  flex-direction: column !important;
  height: auto !important;
}
.content{
  height: 100vh;
  width: 100vw;
}